{% extends 'base.html' %} {% block content %}

<div class="col-12">
	<div class="row d-flex flex-row justify-content-center border border-danger p-5">
		<div>
			{% if messages %}
			<div class="alert alert-success" role="alert">
				{% for message in messages %} {{ message }} {% endfor %}
			</div>
			{% endif %}
		</div>

		<div class="col-6">
			<form
				action="{% url 'arrendar' equipo_id=equipo.id %}"
				method="POST"
				class="text-center border rounded mt-5 p-1 shadow-lg" >
				<div class="d-flex flex-row justify-content-end ">
				<button type="button" class="btn-close btn-close-white mb-3 pb-3" aria-label="Close"></button>
					</div>
				{% csrf_token %}
				<h3 class="g-2 text-white">{{ equipo.nombre }}</h3>
				<div class="row d-flex flex-row">
					<div id="id-img" class="col-6 g-4">
						<div class="p-4 bg-white" style="display: inline-block;" >
						<img
							src=" {{ equipo.imagen }} "
							alt="{{ equipo.nombre }}"
							style="max-width: 100%; height: auto; display:block"/>
					</div>
					</div>
					<div class="col-6 g-4">
						{{ form.fecha }}  <!-- Reemplazamos el input manual por el campo del formulario -->
						
						<!-- Mostrar errores de fecha -->
						{% if form.fecha.errors %}
							<div class="alert alert-danger mt-2">
								{% for error in form.fecha.errors %}
									{{ error }}
								{% endfor %}
							</div>
						{% endif %}
					
						<h3 class="p-2">${{ equipo.precio }}</h3>
						<button id="btn-arrendar" name="arrendar" type="submit" class="btn btn-info">Arrendar</button>
					</div>
					
				</div>
				<button type="button" class="btn mb-3 pb-3"  aria-label="Close"><i class="bi bi-arrow-left"></i></button>
				<i class="bi bi-arrow-left"></i>
			</form>
		</div>
	
	</div>
	</div>
	
	<!-- Ids in the navbar a-href and ids in the content should match-->

	<style>
			#btn-arrendar {
			background: rgba(0,0,0,0,0.9);
            color: white!important;
            transition: background-color.1s ease-in-out;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-right: 10px;
            margin-left: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
		}

		#btn-arrendar:hover {
			background:  #2fc8c3fe !important;
            transition: background-color.1s ease-in-out;
		}

	
		
		form{
			background-color: rgba(0, 0, 0, 0.8) !important;
		}
		

	</style>


	<script>
		var scrollSpy = new bootstrap.ScrollSpy(document.body, {
			target: "#navId",
		});
		document.addEventListener("DOMContentLoaded", function () {
			var dia = new Date().toISOString().split("T")[0];
			document.getElementById("id_fecha").setAttribute("min", dia);
		});
		
		/* cerrar ventana */
		const botonCerrar = document.querySelector('.btn-close');
		botonCerrar.addEventListener('click', () => {
			form.close();
		});

	</script>
</div>
{% endblock %}



max-width: 100%; /* La imagen no excede el ancho del div */
height: auto; /* Mantiene la proporción de la imagen */
display: block; /* Elimina espacio extra debajo de la imagen */