{% extends 'base.html' %} {% load static %} {% block content %} 

<h1>Arriendos</h1>

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">


		<div class="table-responsive">
			<table class="table table-dark py-4">
				<thead>
					<tr>
						<th>#</th>
						<th>Cliente</th>
						<th>Equipo</th>
						<th>Fecha</th>
						<th>Observaciones</th>
						<th colspan="">Dañado</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					{% for arriendo in arriendos %}
				
					<tr>
						
                        <td>{{ arriendo.id }}</td>
						<td>{{ arriendo.user.user.username }}</td>
						<td>{{ arriendo.equipo.nombre }}</td>
						<td>{{ arriendo.fecha|date:"d-m-y" }}</td>
						<form action='{% url "comentario_arriendo" arriendo.id %}' method="post">
							{% csrf_token %}
							<td><textarea id="observacion" name="observacion" cols="40" rows="3" maxlength="250" >{{ arriendo.observacion }}</textarea></td>
							<td ><input type="checkbox" name="danado" id="danado" style="transform: scale(1.8); accent-color:gray;"
								{% if arriendo.danado %}checked{% endif %} 
							value="True"></td>
							<td><a class="btn btn-outline btn-info btn-lg text-white" type="submit">Guardar</a></td>
						</form>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	
</div>


<style>
	td:not(.btn),th{
		border-collapse: collapse;
		background-color: rgba(0, 0, 0, 0.8) !important;
		color:white !important;
		font-size : 1.2rem;
}
</style>


{% endblock %}
