{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

<nav class="navbar navbar-expand-lg bg-black p-2 m-2">
	<div class="container-fluid">
		<a class="navbar-brand" href=""></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'index' %}"
						>Rental Ski</a
					>
				</li>

				{% if user.is_authenticated and user.usuario.tipo == 'operario' %}
				<li class="nav-item">
					<a class="nav-link" href="{%  url 'arriendos' %}">Arriendos</a>
				</li>
				{% endif %}
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						Nuestros Productos
					</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false">
						Nosotros
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="">Quienes Somos</a>
						</li>
						<li>
							<a class="dropdown-item" href="">Contacto</a>
						</li>
						<li><hr class="dropdown-divider" /></li>
					</ul>
				</li>
			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="pe-5">
					<a href="{% url 'facebook_redirect' %}" target="_blank">
						<i class="bi bi-facebook"></i>
					</a>
					<a href="{% url 'instagram_redirect' %}" target="_blank">
						<i class="bi bi-instagram"></i>
					</a>
					<a href="{% url 'twitter_redirect' %}" target="_blank">
						<i class="bi bi-twitter"></i>
					</a>
					<a href="{% url 'youtube_redirect' %}" target="_blank">
						<i class="bi bi-youtube"></i>
					</a>
				</li>
				<li class="d-flex flex-row">
				{% if user.is_authenticated %}
				<h4 style="color: white" class="pe-5">Hola {{ user.get_username | title }}  </h4>
				<form action="{% url 'logout' %}" method="post">
					{% csrf_token %}
					<button class="btn btn-white mx-2">Salir</button>
				</form>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'registro' %}">Registro</a>
				</li>
				<a class="btn btn-info btn-bg text-white mx-2" href="{% url 'login' %}">Login</a>
				{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>

<style>

	/* distancia entre los elementos del navbar */
	.nav-item {
		padding-inline: 10px;
	}

/* define color de texto del navbar */
.nav-item a , .fa-brands{
	color: white !important;
	font-size: 1.2rem !important;
}

.bi{
	font-size: 25px !important;
}

/* distancia entre los elementos del navbar */
.nav-item {
	padding-inline: 10px;
}

/* Hover del menú principal */
a:hover {
	color: cyan !important;
	background: black !important;
}


	/* Estilos para los submenús desplegables */
	.dropdown-menu {
		background-color: #848d8e;
		border: none;
	}

	/* Hover submenu */
	.dropdown-menu .dropdown-item:hover {
		background-color: white;
	}

	/* Cambia el color del borde del botón */
	.navbar-toggler {
		border-color: rgba(255, 255, 255, 0.5);
	}

	/* Cambia el color del ícono svg a blanco */
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}

	/* Cambia el resplandor a blanco */
	.navbar-toggler:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
	}

	@media only screen and (max-width: 992px) {
		nav-link {
			font-size: 16px;
		}

		/*Oculta las redes sociales*/
		.nav-fa-brands {
			display: none;
		}
	}
</style>
