{% extends 'base.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/css/form.css' %}">

<div class="container mb-5">
	<div class="row">
		<div class="container-login mx-auto col-5">
			<h2 class="">Nuevo usuario</h2>
			<form
				action=""
				method="POST"
				class="text-center border border-info-subtle p-4 rounded">
				{% csrf_token %}
				<div class="mb-3">
					<input type="text" class="form-control" id="form_username" name="username" placeholder="username" required />
				</div>

				<div class="mb-3">
					<input type="password" class="form-control" id="form_password" name="password" placeholder="password" required />
				</div>

				<div class="mb-3">
					<input type="text" class="form-control" id="form_nombre" name="first_name" placeholder="Nombre" required />
				</div>

				<div class="mb-3">
					<input type="email" class="form-control" id="form_email" name="email" placeholder="Email" required />
				</div>
				<br>
				<label>Tipo de usuario</label>
				<div class="radio-group d-flex flex-row justify-content-evenly mb-2">
					<div>
						<input type="radio" id="cliente" name="user_type" value="cliente" required />
						<label for="cliente">Cliente</label> 
					</div>
					<div>
						<input type="radio" id="operario" name="user_type" value="operario" required />
						<label for="operario">Operario</label>
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-info text-white col-12 my-2" style="font-size: large">Crear</button>
				</div>
			</form>

			<div>
				<p class="text-center">
					si ya estas registrado, inicia sesion
					<a href="{% url 'login' %}"> iniciar sesion </a>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
