  /* Estilos para el contenedor */
.container-login {
	background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 80% de opacidad */
	border-radius: 10px;
	width: 500px;
	margin: 50px auto;
	padding-block: 40px;
	padding-inline: 60px;
	font-size: 1.2rem;
}

form{
	padding-inline: 20px;
	font-size: 1.4rem important;
	font-weight: 500;
}


.container-login h2{ 
	color: white; /* Texto en color blanco */
	margin: 0;
	font-weight: 500;
}