.dropdown-menu {
	display: none;
}
.dropdown-menu.show {
	display: block;
}


td:not(.btn),th{
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, 0.8) !important;
	color:white !important;
	font-size : 1.2rem;
}